<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
</head>
<body>

<h2>Admin Login</h2>

<form th:action="@{/perform-login}" method="post">

    <div>
        <label>Username:</label>
        <input type="text" name="username" required>
    </div>

    <br>

    <div>
        <label>Password:</label>
        <input type="password" name="password" required>
    </div>

    <br>

    <button type="submit">Login</button>

</form>

<p th:if="${param.error}">
    Invalid username or password
</p>

</body>
</html>